CHANGELOG.md
COMPLIANCE.yaml
Dockerfile
LICENSE
README.md
coverage
deployments
openshift
phpcs.xml
phpunit.xml
sample-env
tests
vendor
.git
node_modules
Dockerfile
docker-compose.yaml

# only allow these paths in the Dockerfile
#src
#composer.json
#composer.lock
#docker-compose.yaml
#entrypoint.sh
#liveness.sh
#migrations-db.php
#migrations.yaml
#data