CHANGELOG.md
COMPLIANCE.yaml
Dockerfile
LICENSE
README.md
coverage
deployments
openshift
phpcs.xml
phpunit.xml
sample-env
tests/unit
vendor
.git
node_modules
Dockerfile
docker-compose.yaml
.devcontainer
.DS_Store
.env
.github
.gitignore
.phpunit.cache
.phpunit.result.cache

# only allow these paths in the Dockerfile
#src
#composer.json
#composer.lock
#docker-compose.yaml
#entrypoint.sh
#liveness.sh
#migrations-db.php
#migrations.yaml
#data