# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore vendor files
/vendor/

# Ignore testing files
coverage/
.phpunit.cache/
.phpunit.result.cache

# Ignore logs
logs/
heartbeat.log

# Ignore IDE files
.vscode
.env
.devcontainer/override.env
.phpactor.json

# Ignore documentation files
/docs/
.phpdoc

# Ignore development files
#/deployments/kustomize/overlays/development/
